$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
//@import 'sass-bootstrap/lib/bootstrap';

@import 'sass-bootstrap/lib/_variables';
@import 'sass-bootstrap/lib/_mixins';
@import 'sass-bootstrap/lib/_popovers';
@import 'sass-bootstrap/lib/_type';

body {
  background: #453d32 url('../img/background.png') repeat center bottom;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.popover-title {
  text-align: center;
  font-weight: bold;
}

.popover-content {
  font-size: 13px;

  br {
    line-height: 22px;
  }
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  padding-right: 20px;
}

li.book {
  position: relative;
  margin-left: 20px;
  padding: 0px;
  display: inline-block;

  img {
    box-shadow: 0px 2px 13px #4a2205;
    border: #090705 1px solid; 
  }

  span.highlight {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 75px;
    background: transparent url("../img/book_cover_highlight.png") no-repeat;
    z-index: 100;
  }
}

div#bookshelf_top, div#bookshelf_bottom, div#bookshelf {
  max-width: 1020px;
  min-width: 900px;
}

div#bookshelf_top, div#bookshelf_bottom {
  margin: 0px auto;
  height: 25px;
}

div#bookshelf_top {
  @include border-top-radius(10px);
  @include gradient-vertical(#402200, #5a3100, 0%, 100%)
}

div#bookshelf_bottom {
  @include border-bottom-radius(10px);
  @include gradient-vertical(#5a3100, #412300, 0%, 100%)
}

div#container {
  padding: 60px;
}

div#bookshelf {
  margin: 0px auto;
  padding-bottom: 30px;
  background: #cda373 url('../img/bookshelf_background_wood.png') repeat left top;

  div.row {
    position: relative;
    width: 100%;
    height: 162px;
    padding-top: 25px;
    background: url('../img/row_background.png') repeat-x center bottom;

    span.right-corner, span.left-corner {
      width: 40px;
      height: 25px;
      position: absolute;
    }

    span.right-corner {
      right: -40px;
      bottom: 0px;
      background: url("../img/bookshelf_3dcorner_right.png") no-repeat;
    }

    span.left-corner {
      left: -40px;
      bottom: 0px;
      background: url("../img/bookshelf_3dcorner_left.png") no-repeat;
    }
  }
}
